.bgcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7fafc;
  padding: 4rem;

  .orderplace {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: rem;

    &-title {
      font-size: 1.75rem;
      font-weight: 500;
      color: #6c7275;

      &--subtitle {
        font-size: 2.5rem;
        padding-bottom: 1.5rem;
      }
    }
  }
  .ordercart {
    display: flex;
    flex-direction: column;
    object-fit: fill;
    & tr {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & td {
            display: flex;
            align-items: center;
            column-gap: 0.25rem;
            padding: 0.8125rem 0;
          }  
    }
    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100% !important;   
      button {
        border-radius: 0.8rem;
        height: 3rem;
        padding: 0rem 2rem;
      }
    }
  }
  .orderitem{
    display: flex;
    gap: 2.5rem;
  }

}
