.skeleton {
  border-radius: calc($border-radius / 2);
  background: $primary-color;
  background-size: 200% 100%;
  animation: loading 2s infinite;
}
@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
