.bggcontainer{
    display: flex;
    justify-content: center;
    background:$primary-color ;
    color: $white-color;

    .frame-wrapper{

    }
    
    .welcome {
        display: grid;
        grid-template-columns: 30% 1fr;
        height: 2rem;
        font-size: 0.9rem;
        font-weight: 400; 
        background: $primary-color;
        
        
    
        &-firstgrid {
              display: flex;          
              justify-content: flex-start;
              margin-top: auto;
              margin-bottom: auto;
              
        }

        &-secondgrid {
            display: flex;
            justify-content: flex-end;
            gap: 0.8rem;
            margin-top: auto;
            margin-bottom: auto;
 

            &--first{
                display: flex;
                gap: 0.375rem;

                &_icon{
                    font-size: 1rem;
                    padding-top: 0.0625rem;
                }
                

                &_name{
                    
                }
                
            }

            &--second{
                display: flex;
                gap: 0.375rem;
                &_icon{
                    font-size: 1rem;
                    padding-top: 0.0625rem;
                }
                
            }
            &--third{
                display: flex;
                gap: 0.375rem;
                &_icon{
                    font-size: 1rem;
                    padding-top: 0.0625rem;
                }
               
                
            }

        }
    }
}

@media  (min-width:900px) and (max-width:1350px){
    .bggcontainer{
       
                .frame-wrapper{
                    width: 100%;
                    padding: 0.2rem 2.5rem;
                    // margin: auto;

                }
                    
                
            }


}

@media  (min-width:690px) and (max-width:900px){
    .bggcontainer{
       
                .frame-wrapper{
                    width: 100%;
                    padding: 0.2rem 1rem;
                    // margin: auto;
                }      
            }
}


@media  (min-width:690px) and (max-width:900px){
    .bggcontainer{
       
                .frame-wrapper{
                    width: 100%;
                    padding: 0.2rem 1rem;
                    // margin: auto;
                }      
            }
}

@media  (min-width:435px) and (max-width:690px){
    .bggcontainer{
        // height: 2.5rem;
       
                .frame-wrapper{
                    width: 100%;
                    padding: 1.2rem 1rem;
                    // margin: auto;
                }      
                .welcome{
                    display: flex;
                    flex-direction: column;
&-firstgrid{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.2rem ;
   
}

&-secondgrid{
    display: flex;
    justify-content: center;
    align-items: center;
}



                }
            }
}
@media  (min-width:300px) and (max-width:435px){
    .bggcontainer{
        // height: 2.5rem;
       
                .frame-wrapper{
                    width: 100%;
                    padding: 1rem 0.6rem;
                    // margin: auto;
                }      
                .welcome{
                    display: flex;
                    flex-direction: column;
&-firstgrid{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:0.8rem ;
   
}

&-secondgrid {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:0.6rem ;

    &--first,
    &--second,
    &--third {
        display: flex;
        gap: 0.15rem;

        &_icon {
            font-size: 0.6rem;
            padding-top: none;
        }
    }
}



                }
            }
}

