.sidebar {
  background-color: white;
  // height: 100vh;
  top: 0;
  left: 0;
  width: 272px;
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
  color: $black-color;
  border: 1px solid #b9b9b9;
  transition: width 0.1s ease-in-out;

  &-profile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;

    &--photo {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: black;
      position: relative;
      border: 0.5px solid black;

      &_icon {
        position: absolute;
        border-radius: 50%;
        background: $primary-color;
        color: white;
        height: 30px;
        width: 30px;
        right: 11%;
        bottom: 0;
        border: none;
        cursor: pointer;
        i {
          font-size: 1.2rem;
          font-weight: 300;
        }
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    &--text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.1rem;
      text-align: center;
      &_title {
        font-weight: 600;
        font-size: 1.4rem;
      }

      &_name {
        font-weight: 400;
        font-size: 0.875rem;
      }
    }
  }

  &-break {
    margin-top: 23px;
    border: 1px solid #b9b9b9;
    width: 100%;
  }

  &-ul {
    padding-top: 1rem;

    li {
      list-style: none;
      position: relative;
      &.active {
      
      
        & a {
          background-color: orangered;
          color: white;
        }
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 1%;
          bottom: 1%;
          right: 0.5%;
          width: 0.3rem;
          border-radius: 0 $border-radius $border-radius 0;
          background: $primary-color;
        }
      }
    }

    &--a {
      font-size: 0.875rem;
      display: flex;
      align-items: center;
      border-radius: 0.25rem;
      padding: 0.5rem 2rem;
      transition: all 0.2s;
      font-weight: 600;
      gap: 0.8rem;
      margin: 0rem 1.25rem;

      &:hover {
        // margin: 0rem 1.25rem;
        background-color: orangered;
        color: white;
      }
      &_icon {
        width: 18px;
        height: 22px;

        i {
          font-size: 22px;
          font-weight: 600;
        }
      }
    }
  }

  &-ul > *:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}
